body{
	background-image: url(1.png) ;
	background-repeat: no-repeat;
	background-size: 130%;
	background-position:50% 50%;


}

#head{
	width: 30px;
	margin-left: 65px;
	float: left;
	font-size: 2.2em;
	font-family: Courier;
	font-weight: 700;
	color:#0a2e5c;
}

#resume{
	
	width: 700px;
	height: 900px;
	margin: 40px auto; 
	border-style: dashed;
	border-width: 3px;
	border-color: #1663c7 ;

}


img{
	display: inline;
	width: 150px;
	border-radius: 50px;
	border-style: dashed;
	margin-left:40px;
	margin-top: 20px;
	background-attachment: scroll;


}

#basic{
	display: inline-block ;
	width: 380px;
	height: 230px;
	background-color:rgba(227,227,227,0.5) ;
	border-radius: 50px;
    margin-top: 20px;
    margin-left: 90px;
    border-style: dashed ;
    border-color: black;


}

#basic p{
	font-family: Georgia;
	text-decoration: underline;
	font-size: 20px;
	font-size: 300;
	margin-left: 60px;
	padding: 5px;
	
}


#education{
	display: inline-block;
	width: 560px;
	height: 280px;
	background-color: rgba(227,227,227,0.5);
	margin-top: 40px;
	margin-left: 70px;
	border-radius: 50px;
    border-style: dashed ;
    border-color: black;
}

#education table{
	margin-top: -35px;
	margin-left: 20px;
}

#education td{
	font-family: Georgia;
	font-weight: 500;
	font-size: 17px;
}

#education h4{
	font-family: Georgia;
	margin-top:-25px;
	margin-left: 25px;
	font-size:1.2em;
	color: #110a5c;
}

#work{
	display: inline-block;
	width: 560px;
	height: 230px;
	background-color: rgba(227,227,227,0.5);
	margin-top: 40px;
	margin-left: 70px;
	border-radius: 50px;
    border-style: dashed ;
    border-color: black;
}

#work h4{
	font-family: Georgia;
	margin-top:-25px;
	margin-left: 25px;
	font-size:1.2em;
	color: #110a5c;
}

#w1{
	margin-top: -10px;
	margin-left: 25px;
	font-size: 1.05em;
	letter-spacing: 3px;
}

#w2{
	margin-top: -10px;
	margin-left: 25px;
	font-size: 1.05em;
	letter-spacing: 3px;
}